if process.env.isProd
  div(
    is='${component.name}-${resource.name}-${resource.parent.name}' 
    data-sly-test="${currentStyle}"
  )
    nav(class="${currentStyle.navCSSClasses || 'navbar navbar-expand-lg navbar-dark bg-secondary'}")
      //- IMAGE-LINK for NAVBAR-LOGO
      div(
        data-sly-test="${wcmmode.isEdit}"
        is='image-link-navbarLogo-${resource.name}'
      )
      sly(
        data-sly-test="${!wcmmode.isEdit}"
        data-sly-resource="${ 'navbarLogo' @ resourceType='/apps/aemarch13/dist/components/global/image-link' }"
      )
      
      //- COLLAPSE BUTTON
      button(
        type='button'
        class="${currentStyle.collapseButtonToggler || 'navbar-toggler'}"
        data-toggle='collapse'
        data-target='#navbarSupportedContent'
        aria-controls='navbarSupportedContent'
        aria-expanded='false'
        aria-label='Toggle navigation'
      )
        span(
          class="${currentStyle.navbarTogglerIcon || 'navbar-toggler-icon'}"
        )
        
      //- MY PARSYS WIP
      sly(
        data-sly-test="${!wcmmode.isEdit}"
        data-sly-resource="${ 'navbarNav' @ resourceType='/libs/wcm/foundation/components/responsivegrid' }"
      )
      sly(data-sly-test='${wcmmode.isEdit}')
        sly(
          data-sly-test="${resource.hasChildren}"
          data-sly-list='${resource.listChildren}'
        )
          sly(data-sly-test="${item.name == 'navbarNav'}", data-sly-list='${item.listChildren}')
            div(is='image-link-${item.name}-navbarNav')
        
        //-NABVAR-NAV with COLLAPSE
      div#navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Link
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Dropdown
            div.dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Action
              a.dropdown-item(href='#') Another action
              div.dropdown-divider
              a.dropdown-item(href='#') Something else here
          li.nav-item
            a.nav-link.disabled(href='#') Disabled
        
        //- FORM
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
          //- button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
          
    //- EDITOR for XT-NAVBAR
    div.container(data-sly-test='${wcmmode.isEdit}')
      div.row
        div.col-12.text-white.bg-dark
          h4 Navbar Configuration
        div.col-2.bg-warning.text-white
          span.pre Logo Config
          sly(
            data-sly-resource="${ 'navbarLogo' @ resourceType='/apps/aemarch13/dist/components/global/image-link' }"
          )
            
        div.col-2.bg-success.text-white
          span.pre Navbar Links Config
          sly(data-sly-resource="${ 'navbarNav' @ resourceType='/libs/wcm/foundation/components/responsivegrid' }")
  
  sly(data-sly-test="${wcmmode.isEdit}")
    div(
      class="container border border-info p-5" 
      data-sly-test="${!currentStyle}"
    )
      span.badge.badge-info.p-2 Please update Policy for ${resource.name}
    
else 
    
    div.navbar.navbar-expand-lg.navbar-dark.bg-primary(is="xt-navbar-1212")
      a.navbar-brand(href="#" 
      is="image-link-1212" 
      :image-link-config="imageLinkConfig" @click="linkClicked();")
        img(src="https://www.placehold.it/140x40")
        | Hello World
      a.navbar-brand(
        href="#" 
        is="image-link-42312121212" 
        :image-link-config="imageLinkConfig" 
        @click="linkClicked();"
      )
        img(src="https://www.placehold.it/120x40")
      form.form-inline.my-2.my-lg-0
        input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
        button.btn.btn-success.my-2.my-sm-0(is="vc-global-button-navkajsdf-3ioadfmadsf")
          i.fa.fa-search
          span.ml-2 Search...
    
    div.navbar.navbar-expand-lg.navbar-dark.bg-warning(is="xt-navbar-1243331212")
      a.navbar-brand(
        href="#" 
        is="image-link-1212" 
        :image-link-config="imageLinkConfig" 
        @click="linkClicked();"
      )
        img(src="https://www.placehold.it/140x40")
        | Hello World
      a.navbar-brand(
        href="#" 
        is="image-link-42312121212" 
        :image-link-config="imageLinkConfig" 
        @click="linkClicked();"
      )
        img(src="https://www.placehold.it/120x40")
