if process.env.isProd
  template(data-sly-template.templateWithPropertiesArray="${ @ propertiesArray}")
    //- 
      [
        0 = vcGlobalButtonClass,
        1 = vcGlobalButtonIconClasses,
        2 = vcGlobalButtonTitleClasses,
        3 = vcGlobalButtonTitle
      ]
    button(
      is="vc-global-button-${resource.name}-${resource.parent.name}"
      class="${propertiesArray[0]}"
    )
      i(class="${propertiesArray[1]}")
      span(class="${propertiesArray[2]}") ${propertiesArray[3]}
      
  template(data-sly-template.template)
    button(is="vc-global-vue-button-navbarLogo-xt_navbar" class="${properties.vcGlobalButtonClass}")
      i(class="${properties.vcGlobalButtonIconClasses}")
      span(class="${properties.vcGlobalButtonTitleClasses}") ${properties.vcGlobalButtonTitle}
else 
  
  button(
    is="vc-global-vue-button-navbarLogo-xt_navbar"
    @click="buttonClicked();"
  )
    i.fa.fa-search
    span &nbsp; Search
    
